<%= form_for @mark do |f| %>
	<%= f.label :Student %>
	<%= f.collection_select(:student_id, Student.all, :id, :name ,  {include_blank: 'Select Student'} )%>
	<%= f.label :Subject %>
	<%= f.collection_select(:subject_id, Subject.all, :id, :name , {include_blank: 'Select Subject'} ) %>
	<%= f.label :mark %>
	<%= f.text_field :mark %>
	<%= f.submit %>
<% end %>

	