<html>
	<head>
	</head>
	<body>
		<%= form_for :mark,:url => {:action => "weighted_avg"},:method => :get  do |f| %>
			<%= f.label :Student %>
			<%= f.collection_select(:student_id, Student.all, :id, :name ,  {include_blank: 'Select Student'} )%>
			<%= f.submit "Get Report",  :id => "butt"%>
		<% end %>
	</body>
</html>
