<%= form_for @group, :url => { :action => :create } do |f| %>
	<%= f.label :Group_Name %>
	<%= f.text_field :name %>
	</br>
	</br>
	<%= f.fields_for :students do |line| %>
		<%= line.label :students %>
		<%= line.collection_select(:students_id, Student.all, :id, :name , {include_blank: 'Select Student'} ) %>
	</br>
	</br>
	<% end %>
	<%= f.submit %>
	
<% end %>