<table border=1>
	<tr>
		<td>
			<b>Name
		</td>
		<td>
			<b> Email 
		</td>
	</tr>
	<% @students.each do |f| %>	
	<tr>
		<td>
			<%= f.name %>
		</td>
		<td>
			<%= f.email %>
		</td>
		<td>
			<%= link_to "Get Report", student_path(f.id) %>
		</td>
	</tr>
	<% end %>
</table>
