<%= form_for @student, remote: true do |f| %>
	<%= f.label :Name %>
	<%= f.text_field :name %>
	<br>
	<br>
	<%= f.label :Email %>
	<%= f.text_field :email %>
	<br>
		<br>
		<%= f.submit :class => 'submit_me' %>
<% end %>
