$("#new_div").append("<table border = '1'> <tr id ='<%= @student.id %>'>\n  <td><%= @student.name %><\/td>\n  <td><%= @student.email %><\/td>\n <td><%= escape_javascript link_to('Get Report', student_path(@student.id)) %><\/td>\n<\/tr>\n</table>" );
document.getElementById("new_student").reset();
