<div id="show-timeline">
	<%= link_to "Add Student",new_student_path %>
	</br>
	<%= link_to "Add Group", new_group_path %>
  </br>
	<%= link_to "Add Mark", new_mark_path %>
  <%= render 'display' %>
</div>
