<html>
	<head>
	</head>
	<body>
		<table border = 1>
			<tr>
				<td> 
					Name
				</td>
				<td>
					Score of Physics
				</td>
				<td>
					Score of Chemistry
				</td>
				<td>
					Score of maths
				</td>
				<td>
					Score of English
				</td>
				<td>
					Total weighted average
				</td>
			</tr>
			<tr>
				<td>
					<%= @student.name %>
				</td>

				<td>
					<%= @marks_array[0] %>
				</td>
				<td>
					<%= @marks_array[1] %>
				</td>
				<td>
					<%= @marks_array[2] %>
				</td>
				<td>
					<%= @marks_array[3] %>
				</td>
				<td>
					<%= @total_weighted_average %>
				</td>
			</tr>
		</table>
	</body>
</html>
